<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Psql CRUD</title>
</head>
<body>
<h3>Создать запись:</h3>
<form method="POST" action="/crud/create">
    <label>Команда1:
        <input type="text" name="team1"><br>
    </label>
    <label>Команда2:
        <input type="text" name="team2"><br>
    </label>
    <label>П1:
        <input type="number" name="win1" value="1.0" step="0.1"><br>
    </label>
    <label>Х:
        <input type="number" name="draw" value="1.0" step="0.1"><br>
    </label>
    <label>П2:
        <input type="number" name="win2" value="1.0" step="0.1"><br>
    </label>
    <button>Создать</button>
</form>
<h3>Записи в БД:</h3>
<#list lines as line>
<form>
    <input type="text" name="team1" value="${line.getTeam1()}">
    <input type="text" name="team2" value="${line.getTeam2()}">
    <input type="number" name="win1" value="${line.getWin1()}">
    <input type="number" name="draw" value="${line.getDraw()}">
    <input type="number" name="win2" value="${line.getWin2()}">
    <button formaction="${'/crud/update/' + line.getId()}" >Изменить</button>
    <button formaction="${'/crud/delete/' + line.getId()}">Удалить</button>
</form>
</#list>

</body>
</html>